<!-- Gallery Section -->
<div class="bg-light py-5">
    <div class="container">
        <!-- Section Title -->
        <div class="row text-center mb-4">
            <div class="col-lg-8 mx-auto">
                <h3 class="fw-bold">Our Gallery</h3>
            </div>

            <div class="row text-center mt-4">
                <div class="col-lg-8 mx-auto">
                    <p>Welcome to Gugu Farm Resort, where nature and relaxation come together. Explore our gallery and discover the beauty of our landscapes, cozy accommodations, refreshing pools, and peaceful farm surroundings.
    
                        Whether you want to enjoy quality time with loved ones, or explore the beauty of the outdoors, our resort offers the perfect escape.</p>
                </div>
            </div>
        </div>

        <!-- Image Grid -->
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                <img src="images/gallery-1.png" class="img-fluid rounded gallery-img" alt="Gallery Image">
            </div>

            <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                <img src="images/gallery-2.png" class="img-fluid rounded gallery-img" alt="Gallery Image">
            </div>

            <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                <img src="images/gallery-3.png" class="img-fluid rounded gallery-img" alt="Gallery Image">
            </div>

            <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                <img src="images/gallery-4.png" class="img-fluid rounded gallery-img" alt="Gallery Image">
            </div>

            <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                <img src="images/gallery-5.png" class="img-fluid rounded gallery-img" alt="Gallery Image">
            </div>

            <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                <img src="images/gallery-6.png" class="img-fluid rounded gallery-img" alt="Gallery Image">
            </div>

            <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                <img src="images/gallery-7.png" class="img-fluid rounded gallery-img" alt="Gallery Image">
            </div>

            <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                <img src="images/gallery-8.png" class="img-fluid rounded gallery-img" alt="Gallery Image">
            </div>

            <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                <img src="images/gallery-9.png" class="img-fluid rounded gallery-img" alt="Gallery Image">
            </div>
        </div>

        <!-- Description -->
        
    </div>
</div>





<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-lg-3 text-center text-lg-start">
                <img src="images/gugu-logo.png" alt="Logo" class="img-fluid" style="max-height: 60px;">
            </div>

            <!-- Navigation Links -->
            <div class="col-lg-3 text-center">
                <ul class="list-unstyled mb-0">
                    <li><a routerLink="/" class="text-white text-decoration-none">Home</a></li>
                    <li><a routerLink="/about" class="text-white text-decoration-none">About us</a></li>
                    <li><a routerLink="/gallery" class="text-white text-decoration-none">Gallery</a></li>
                    <li><a routerLink="/contact" class="text-white text-decoration-none">Contact</a></li>
                </ul>
            </div>

            <!-- Contact Details -->
            <div class="col-lg-3 text-center text-lg-start">
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-envelope"></i> gugufarmresort&#64;gmail.com</li>
                    <li><i class="fas fa-phone"></i> 0969-139-2375</li>
                    <li><i class="fab fa-facebook"></i> GuguFarmandPrivateResort</li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<!-- FontAwesome for icons -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>